html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*                         end of reset                                      */
/* * {
    outline: 1px solid red;
} */
body {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.outer-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  max-width: 48rem;
}
.top-content-container,
.middle-content-outer-container,
.bottom-content-container {
  margin: 0;
  padding: 0;
}

/*         START OF POP MENU CONTAINER        */
.pop-menu-container {
  display: none;
  opacity: 0;
  background: #006d77;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  z-index: 99;
}
.menuopacity {
  opacity: 1;
  display: flex;
}
.menu-closer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.pop-menu {
  text-align: center;
  display: grid;
  grid-gap: 1rem;
  color: white;
  margin-top: 3rem;
}
.hidden-logo {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.hidden-link {
  color: white;
  text-decoration: none;
}
/*         END OF POP MENU CONTAINER        */
/*         START OF HEADER CONTAINER        */
.header-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #006d77;
  color: white;
  position: relative;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.top-line {
  border-bottom: 2px solid white;
  width: 20px;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}
.middle-line {
  border-bottom: 2px solid white;
  width: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}
.bottom-line {
  border-bottom: 2px solid white;
  width: 20px;
  margin: 0;
  padding: 0;
}
.logo {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.search-bar-container {
  background: #006d77;
  position: absolute;
  top: 3rem;
  right: 0;
  left: 0;
  overflow: hidden;
  padding: 0.5rem 1rem;
}
.input-search {
  display: inline-block;
  width: 98%;
  height: 1.5rem;
  font-size: 1rem;
  overflow: hidden;
  text-indent: 1rem;
  color: #bfbfbf;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNzUycHQiIGhlaWdodD0iNzUycHQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDc1MiA3NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8cGF0aCBkPSJtNTA4LjYxIDMzMy4zOGMwLTk0LjI0Mi03Ni4yNDYtMTcwLjQ5LTE3MC40OS0xNzAuNDktOTQuMjQyIDAtMTcwLjQ5IDc2LjI0Ni0xNzAuNDkgMTcwLjQ5IDAgOTQuMjQyIDc2LjI0NiAxNzAuNDkgMTcwLjQ5IDE3MC40OSA0MC4yNTQgMCA3Ny4xOTUtMTQuMjA3IDEwNi41NS0zNy40MTRsMTEwLjM0IDExMC4zNGMzLjc4OTEgMy43ODkxIDguNTIzNCA1LjY4MzYgMTMuMjYyIDUuNjgzNiA0LjczNDQgMCA5LjQ3MjctMS44OTQ1IDEzLjI2Mi01LjY4MzYgNy41NzgxLTcuNTc4MSA3LjU3ODEtMTkuNDE4IDAtMjYuOTkybC0xMTAuMzQtMTA5Ljg3YzIzLjIwNy0yOS4zNTkgMzcuNDE0LTY2LjMwMSAzNy40MTQtMTA2LjU1em0tMTcwLjQ5IDEzMi42Yy03Mi45MyAwLTEzMi42LTU5LjY3Mi0xMzIuNi0xMzIuNiAwLTcyLjkzIDU5LjY3Mi0xMzIuNiAxMzIuNi0xMzIuNiA3Mi45MyAwIDEzMi42IDU5LjY3MiAxMzIuNiAxMzIuNiAwLjAwMzkwNiA3Mi45MzQtNTkuNjY4IDEzMi42LTEzMi42IDEzMi42eiIgZmlsbD0iIzliOWI5YiIvPgo8L3N2Zz4K")
    no-repeat right;
  background-size: contain;
  background-color: white;
}
.account-icon-container,
.shopping-cart {
  margin: 0;
  padding: 0;
}
.account-icon {
  display: flex;
  margin: 0;
  padding: 0;
}
.account-svg {
  width: 1rem;
  height: 1rem;
}
.shopping-cart a {
  color: white;
}
/*         END OF HEADER CONTAINER        */
/*         START OF SALE CONTAINER        */
.sale-container {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.sale-img {
  padding-right: 0.5rem;
  max-width: 141px;
}
.sale-txt-container {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 600;
}
.sale-txt {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  text-align-last: center;
  line-height: 1.2;
  color: #000000;
}
.sale-txt-code {
  color: #83c5be;
  display: flex;
  justify-content: center;
  padding-top: 0.3rem;
}
/*         END OF SALE CONTAINER        */
/*         START OF MIDNIGHT OFFER CONTAINER        */
.midnight-offer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.midnight-description-container {
  display: grid;
  grid-column: 1;
  background: #006d77;
  color: white;
  align-items: center;
}
.midnight-top-txt {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.2;
}
.midnight-offtwenty {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  height: 100%;
}
.midnight-getextra20 {
  font-size: 1.1rem;
  text-align: center;
}
.midnight-img {
  max-width: 220px;
  padding-bottom: 1rem;
  width: 100%;
}
.midnight-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 1rem;
}
.midnight-shop-button {
  background: #006d77;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  position: absolute;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}
/*         END OF MIDNIGHT OFFER CONTAINER        */
/*         START OF MIDDLE CONTENT CONTAINER        */
.middle-content-container {
  margin: 0;
  padding: 0;
}
.middle-content-text {
  padding: 2rem 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}
/*         END OF MIDDLE CONTENT CONTAINER        */
/* .mid-text :nth-child(2) {
    color: #808080;
    font-size: 1rem;
    padding-top: .4rem;
    display: block;
    font-weight: 400;
} */
/*         START OF CIRCLE SLIDER CONTAINER        */
.circle-sliders-outer-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  scrollbar-width: none;
  overflow-x: scroll;
  overflow-y: hidden;
}
.circle-sliders-outer-container::-webkit-scrollbar {
  display: none;
  background: transparent;
  scrollbar-width: none;
}
.circle-sliders-arrows-container,
.special-offer-arrows-container,
.new-arrivals-arrows-container {
  display: none;
}
.circle-slider-inner-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  transform: translate3d(0, 0, 0);
}
.circle-slide-inner {
  margin: 0 0.6rem;
}
.circle-slide-inner a {
  text-decoration: none;
}
.circle-slider-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.circle-slider-img-text {
  text-align: center;
  padding-top: 0.5rem;
  color: black;
}
.slider-txt-sale {
  color: #dc0069;
}
/*         END OF CIRCLE SLIDER CONTAINER        */
/*         START OF SPECIAL/NEW ARRIVALS OFFER TXT        */
.special-offer-txt-container,
.new-arrivals-offer-txt-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.special-offer-txt,
.new-arrivals-txt {
  font-size: 1.4rem;
  color: #808080;
}
/*         END OF SPECIAL/NEW ARRIVALS OFFER TXT        */
/*         START OF SPECIAL/NEW ARRIVALS OFFER SLIDERS DIVS        */
.special-offer-slider-outer-container,
.new-arrivals-slider-outer-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  scrollbar-width: none;
  overflow-x: scroll;
}
.special-offer-slider-outer-container::-webkit-scrollbar,
.new-arrivals-slider-outer-container::-webkit-scrollbar {
  display: none;
  background: transparent;
}
.special-offer-slider-container,
.new-arrivals-slider-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  transform: translate3d(0, 0, 0);
}
.special-offer-slider-inner,
.new-arrivals-offer-slider-inner {
  display: flex;
  margin: 2.5rem 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.special-offer-img-container,
.new-arrivals-img-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
}
.special-offer-slider-img {
  height: 160px;
  width: 102px;
}
.clearance-box,
.new-box {
  background: #dc0069;
  font-size: 0.625rem;
  padding: 0.3rem 0.2rem;
  color: white;
  position: absolute;
  bottom: -5px;
  width: max-content;
}
.special-offer-slider-brand-txt,
.new-arrivals-slider-brand-txt {
  font-size: 1rem;
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.special-offer-slider-product-name,
.new-arrivals-slider-product-name {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  text-align: center;
}
.special-offer-slider-product,
.new-arrivals-slider-product {
  font-size: 13px;
  padding-bottom: 0.5rem;
  line-height: 1.2;
  text-align: center;
}
.special-offer-slider-price,
.new-arrivals-slider-price {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}
.new-arrivals-slider-img {
  width: 160px;
  height: 140px;
}
.new-arrivals-slider-brand-txt {
  padding-top: 2rem;
}
.special-offer-slider-img {
  height: 160px;
  width: 102px;
}
.new-box {
  bottom: -18px;
  background: #006d77;
}
/*         END OF SPECIAL/NEW ARRIVALS OFFER SLIDERS DIVS        */
/*         START OF PARENTS DAY CONTAINER        */
.parentsday-img-container {
  width: 100%;
  box-sizing: border-box;
}
.parentsday-img {
  max-width: 1470px;
  max-height: 300px;
  width: 100%;
}
/*         END OF PARENTS DAY CONTAINER        */
/*         START OF MAIN FOOTER        */
.main-footer {
  width: 100%;
  background: #006d77;
  color: white;
  padding: 1rem 0;
}
.contact-info {
  color: #bfbfbf;
  margin: 1rem;
}
.contact-tel {
  font-size: 1.68rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}
.contact-tel:link {
  color: #bfbfbf;
}
.opening-times {
  font-size: 0.6rem;
  margin: 0.5rem 0;
}
.join-couponlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.join-couponlist-txt {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.email-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: #404040;
}
.email-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: white;
  color: black;
  font-weight: 600;
  border: 0.2rem solid #404040;
}
.grey-line {
  border-bottom: 1px #404040 solid;
  margin-top: 1rem;
  width: 100%;
}
.social-icons-container {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.copyright-container {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.copyright-txt {
  font-size: 0.7rem;
  color: #bfbfbf;
}
/*         END OF MAIN FOOTER        */

/*         MEDIA QUERIES        */

/*         TABLET        */
@media (min-width: 767px) {
  .outer-container {
    max-width: 84rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .top-line,
  .middle-line,
  .bottom-line {
    border-bottom: 3px solid white;
    width: 25px;
  }
  .pop-menu {
    font-size: 1.3rem;
  }
  .hidden-logo {
    font-size: 2.2rem;
  }
  .menu-closer {
    font-size: 2rem;
  }
  .search-bar-container {
    position: static;
    padding: 0;
    width: 40%;
  }
  .search-icon {
    font-size: 1rem;
    top: 1.5rem;
    right: 7.5rem;
    color: #808080;
  }
  .account-icon-container,
  .shopping-cart {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    margin: 0;
  }
  .account-svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .sale-container {
    padding: 0;
    max-height: 150px;
    background: #450077;
  }
  .sale-txt {
    font-size: 1.5rem;
    color: #ffffff;
  }
  .sale-txt-code {
    letter-spacing: 0.2rem;
  }
  .sale-img {
    max-width: 180px;
  }
  .midnight-description-container {
    width: 70%;
    height: 85%;
  }
  .midnight-img-container {
    width: 65%;
    height: 85%;
  }
  .midnight-top-txt {
    font-size: 1.2rem;
  }
  .midnight-offtwenty {
    font-size: 2rem;
  }
  .midnight-getextra20 {
    font-size: 1.5rem;
  }
  .midnight-shop-button {
    font-size: 0.9rem;
  }

  .midnight-img {
    aspect-ratio: 1 / 1.25;
    object-fit: contain;
  }
  .special-offer-img-container {
    margin: 0 -0.4rem;
  }
  .special-offer-txt,
  .new-arrivals-txt {
    font-size: 1.7rem;
    margin-top: 1rem;
  }
  .special-offer-slider-img {
    height: 220px;
    width: 135px;
  }
  .new-arrivals-slider-img {
    width: 160px;
  }
  .midnight-offtwenty {
    font-size: 4.4rem;
  }
  .midnight-getextra20 {
    font-size: 1.5rem;
  }

  .contact-tel {
    font-size: 2.5rem;
  }
  .opening-times {
    font-size: 0.8rem;
  }
  .join-couponlist-container {
    margin: 2rem 0;
  }
  .join-couponlist-txt {
    margin-bottom: 1rem;
  }
  .email-input {
    width: 82%;
  }
  .email-button {
    margin-top: 0;
    margin-left: 10px;
  }
  .grey-line {
    margin: 0 1rem;
    margin-top: 1rem;
  }
}

/*        LAPTOP        */
@media (min-width: 1024px) {
  .hamburger-menu {
    display: none;
    visibility: hidden;
  }
  .header-container {
    padding-bottom: 3rem;
  }
  .search-bar-container {
    width: 60%;
    margin-right: 3rem;
  }
  .account-icon {
    margin-right: 1rem;
  }
  .pop-menu-container {
    display: flex;
    position: absolute;
    top: 1rem;
    opacity: 1;
    width: 100%;
    height: 1px;
    background: transparent;
  }
  .menu-closer {
    display: none;
    visibility: hidden;
  }
  .pop-menu {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-left: 1rem;
    width: 100%;
    align-items: center;
  }
  .hidden-logo {
    display: none;
    visibility: hidden;
  }
  .hidden-link {
    font-size: 1rem;
    display: flex;
    color: white;
  }
  .sale-link {
    padding: 0.2rem 0.4rem;
    background: #dc0069;
  }
  .middle-content-outer-container {
    display: flex;
    justify-content: center;
  }
  .middle-content-container {
    max-width: 52rem;
    margin: 0 6rem;
    position: relative;
  }
  .midnight-description-container {
    width: 100%;
    height: 85%;
  }
  .midnight-img-container {
    width: 100%;
    height: 85%;
    margin: 0;
  }
  .circle-sliders-arrows-container {
    position: absolute;
    top: 25rem;
    display: flex;
    font-size: 2rem;
    z-index: 10;
  }
  .circle-slider-img {
    width: 120px;
    height: 120px;
  }
  .special-offer-sliders-outer,
  .new-arrivals-slider-container,
  .circle-slider-inner-container {
    overflow: hidden;
  }
  .special-offer-slider-inner,
  .new-arrivals-offer-slider-inner {
    margin: 2.5rem 2rem;
  }
  .special-offer-arrows-container {
    position: absolute;
    top: 47rem;
    display: flex;
    font-size: 2rem;
    z-index: 10;
  }
  .special-offer-img-container {
    margin: 0 0.6rem;
  }
  .new-arrivals-arrows-container {
    position: absolute;
    top: 95rem;
    display: flex;
    font-size: 2rem;
  }
  .transRight {
    overflow: visible;
    transform: translate3d(-435px, 0px, 0px);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
  }
  .transLeft {
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.2s ease-in-out;
  }
  .right-arrow-container {
    position: absolute;
    right: -2rem;
  }
  .left-arrow-container {
    left: -2rem;
  }
  .arrow-background {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .left-hidden-arrow {
    display: none;
  }
  .arrow-background:hover {
    background: rgba(129, 125, 125, 0.384);
  }
}

@media (min-width: 1300px) {
  .outer-container {
    max-width: 300rem;
  }
}
